// @type

@import "../commonui.scss";

.highlight-polygon {
  position: absolute;
  color: red;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //   transform-origin: top left;
  //   top: 0;
  //   right: 0;
}

.content {
  //   position: relative;

  //   border-bottom: 1px solid $leaf-light-gray;
  //   margin-bottom: 0.8em;
}
