/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Header {
    flex-direction: column;
  }

  .team {
    .people {
      flex-direction: column;
    }
  }

  .person-card {
    margin-bottom: 16px;
    .img-header {
      flex-direction: column;
      .profile-pic {
        // margin-left: 16px;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .team {
    .people {
      flex-direction: column;
    }
  }

  .person-card {
    margin-bottom: 16px;
    .img-header {
      flex-direction: column;
      .profile-pic {
        // margin-left: 16px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .team {
    .people {
      flex-direction: column;
    }
  }

  .person-card {
    margin-bottom: 16px;
    .img-header {
      flex-direction: column;
      .profile-pic {
        // margin-left: 16px;
      }
    }
  }

  .Header {
    display: flex;
    flex-direction: column;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Header {
    display: flex;
    flex-direction: column;
  }

  .team {
    .people {
      flex-direction: column;
    }
  }

  .person-card {
    margin-bottom: 16px;
    .img-header {
      flex-direction: column;
      .profile-pic {
        // margin-left: 16px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Header {
    display: flex;
    flex-direction: column;
  }

  .team {
    .people {
      flex-direction: column;
    }
  }

  .person-card {
    margin-bottom: 16px;

    a {
        text-decoration: none;
    }

    .bio {
        margin-left: 16px;
    }
    .img-header {
      flex-direction: row;
      .profile-pic {
        // margin-left: 16px;
      }
    }
  }
}

.about-container {
  width: 60%;
  margin: auto;
  margin: 80px auto 0 auto;
  height: 100vh;
  align-items: center;

  p {
    font-size: 1.4rem;
  }
}

.Header {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  background: #ffffff;

  background-color: white;
  z-index: 6;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;

  hr {
    width: 100%;
    border-top: 1px solid #edece9;
  }

  .NavBar {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;

    .Logo {
      display: flex;
      align-self: flex-start;
      margin-right: auto;
      position: relative;
      left: -10px;
      img {
        height: 50px;
      }

      img:hover {
      }

      cursor: pointer;
    }

    .Login {
      display: flex;

      margin-right: 16px;
      justify-content: space-evenly;

      font-style: normal;
      font-weight: normal;
      font-size: 16px;

      a:link {
        color: #000000;
        text-decoration: none;
        transition: all ease-in-out 0.2s;
        padding: 4px;
      }

      a:visited {
        color: #000000;
        transition: all ease-in-out 0.2s;
      }

      a:hover {
        // color: #1db954;
        border-radius: 4px;
        padding: 4px;
        background-color: #349ae9;
        color: white;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

.dropdown {
  margin-top: 24px;
  .about-header {
    display: flex;
    button {
      border-style: none;
      font-size: 28px;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: white;
      position: relative;
      top: -6px;
    }

    button:active {
      border-style: none;
    }
    p {
      margin: 0 0 0 16px;
      padding: 0;
    }
  }

  .dropdown-content {
    margin-left: 32px;
    padding-left: 8px;
    border-left: 4px solid #37abda;
  }
}

.aboutLeaf p {
  font-size: 1.4rem;
  //   padding: 2rem;

  a:link {
    text-decoration: none;
    color: #37abda;
  }

  a:visited {
    text-decoration: none;
    color: #37abda;
  }
}

.section-container {
  .section-header {
    font-size: 60px;
    margin: 0;
  }

  hr {
    border-top: 1px solid #edece9;
  }
}

.team {
  margin-top: 40px;
  .people {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }
}

.person-card {
  background: #ffffff;
  border: 1px solid #edece9;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px #edece9;
  border-radius: 8px;
  padding: 16px;

  margin-right: 32px;

  .img-header {
    display: flex;
    align-items: top;

    .profile-pic {
      width: 92px;
      height: 92px;
      border-radius: 8px;
      display: inline-block;
    }
  }

  .bio {
    // margin-left: 16px;
    p {
      font-size: 20px;
    }
  }

  h3 {
    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
  }
}

.animatedGif {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: inline-block;

  position: relative;
  left: -10px;
  top: -10px;

  img {
    height: 40px;
    width: 40px;
  }
}

.feedback {
  //   padding-top: 18rem;
  margin-top: 40px;
  margin-bottom: 40px;
  img {
    background: black;
  }
}

.popupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  button {
    cursor: pointer;

    padding: 12px;
    background: #349ae9;
    border: 1px solid #329bc5;
    box-sizing: border-box;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #ffffff;
  }
}
