.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    p {
        font-size: 1.4rem;
        padding: 2rem;
    }
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.Header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;

    justify-content: center;
    align-items: center;
    background: #000000;
    
    .NavBar {
        display: flex;
        flex-direction: row;   
        width: 100%; 

        .Logo {
            display: flex;
            align-self: flex-start;

            margin-bottom: 30px;
            margin-left: 3%;
            margin-right: 70%;

            font-family: Arial rounded MT bold;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;

            color: #68B2A0;
            cursor: pointer;
        }

        .Login {
            display: flex;
            width: 92px;
            height: 34px;

            padding-top: 20px;
            margin-bottom: 30px;
            justify-content: space-evenly;
            align-self: stretch;

            font-family: Arial rounded MT bold;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;

            a:link {
                color:  #FFFFFF;
                text-decoration: none;
            }

            a:visited {
                color: #FFFFFF;
            }

            a:hover {
                color: #68B2A0;
            }
        }
    }
}

.aboutLeaf p{
    font-size: 1.4rem;
    padding: 2rem;
}

.accordionItem {
    background-color: #FFFFFF;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);

    a {
        font-size: 1.6rem;
        color: #000000;
        text-decoration: none;
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;        

        .removeIcon {
            display: none;
        }

        ion-icon {
            padding: .5rem;
            font-size: 40px;
        }
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        position: relative;
        background-color: #FFFFFF;
        transition: max-height 650ms;
    }

    .answer::before {
        content: "";
        position: absolute;
        width: .6rem;
        height: 90%;
        background-color: #68B2A0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .answer p {
        font-size: 1.4rem;
        color: #000000;
        padding: 2rem;
    }
}

.accordionItem:target .answer {
    max-height: 20rem;
}

.accordionItem:target a .addIcon {
    display: none;
}

.accordionItem:target a .removeIcon {
    display: block;
}

.feedback {
    padding-top: 2rem;
}
// .feedback {
//     input[type=text], select, textarea {
//         font-family: 'Roboto', sans-serif;
//         font-size: 1rem;
//         width: 80%;
//         padding: 20px;
//         border: 1px solid #ccc;
//         border-radius: 10px;
//         resize: none;
//         outline: none;
//         overflow: auto;
//         margin: 10px;
//     }
      
//     label {
//         padding: 12px 12px 12px 0;
//         display: inline-block;
//       }
      
//       input[type=submit] {
//         background-color: #68B2A0;
//         color: white;
//         padding: 12px 20px;
//         border: none;
//         border-radius: 4px;
//         cursor: pointer;
//         float: right;
//       }
      
//       input[type=submit]:hover {
//         background-color: #04634a;
//       }
      
//       .container {
//         border-radius: 5px;
//         background-color: #f2f2f2;
//         padding: 20px;
//       }
      
//       .col-25 {
//         float: left;
//         width: 25%;
//         margin-top: 6px;
//       }
      
//       .col-75 {
//         float: left;
//         width: 75%;
//         margin-top: 6px;
//       }
      
//       /* Clear floats after the columns */
//       .row:after {
//         content: "";
//         display: table;
//         clear: both;
//       }
// }
 
.button {
    padding: 1em;
    margin-left: 35%;
    margin-bottom: 2em;
    
    font-weight: bold;
    font-size: 28px;

    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;

    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    cursor: pointer;
}
