@import "commonui.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App {
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
  }
}

.center-divs {
  margin: auto;
  display: flex;
  width: fit-content;
}

.finishedpost-wrapper {
  margin-top: 60px;
  width: 100%;
}

.draft-wrapper {
  @extend .center-divs;
  margin-top: 56px;
}

.App {
  // margin-left: 6vh;
  // margin-right: 6vh;
  // margin-bottom: 16px;
  // margin-right: 80px;
  // margin-left: 80px;
  width: inherit;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  height: 100%;
  // width: 1300px;
  // width: auto;
  // height: 100vh;
}

.RightPane {
  display: flex;
  flex-direction: column;
  height: 92vh;
  position: sticky;
  top: 4vh;
  // overflow: auto;
}

// .Logo {
//   display: flex;
//   align-self: flex-start;
//   // margin-bottom: 30px;
//   margin-left: 3%;
//   img {
//     max-width: 50%;
//     height: auto;
//     width: 250px;
//     // border-radius: 20px;
//   }

//   img:hover {
//     /* Start the shake animation and make the animation last for 0.5 seconds */
//     animation: shake 0.5s;

//     /* When the animation is finished, start again */
//     animation-iteration-count: infinite;
//   }

//   @keyframes shake {
//     0% {
//       transform: translate(1px, 1px) rotate(0deg);
//     }
//     10% {
//       transform: translate(-1px, -2px) rotate(-1deg);
//     }
//     20% {
//       transform: translate(-3px, 0px) rotate(1deg);
//     }
//     30% {
//       transform: translate(3px, 2px) rotate(0deg);
//     }
//     40% {
//       transform: translate(1px, -1px) rotate(1deg);
//     }
//     50% {
//       transform: translate(-1px, 2px) rotate(-1deg);
//     }
//     60% {
//       transform: translate(-3px, 1px) rotate(0deg);
//     }
//     70% {
//       transform: translate(3px, 1px) rotate(-1deg);
//     }
//     80% {
//       transform: translate(-1px, -1px) rotate(1deg);
//     }
//     90% {
//       transform: translate(1px, 2px) rotate(0deg);
//     }
//     100% {
//       transform: translate(1px, -2px) rotate(-1deg);
//     }
//   }

//   // font-family: Arial rounded MT bold;
//   // font-style: normal;
//   // font-weight: bold;
//   // font-size: 60px;

//   // color: #68B2A0;
//   cursor: pointer;
// }

.Landing {
  margin: 80px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  h3 {
  }
}

.container {
  height: 100%;
}

.Preview {
  border-style: solid;
  width: 400px;
  margin: auto;
  height: 160px;
  border-radius: 8px;
  border-width: 1px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  border-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: box-shadow ease-in-out 0.2s;
}

.Preview:hover {
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.4);
  transition: box-shadow ease-in-out 0.2s;
}

.Header {
  display: flex;
  // float: right;
  a {
    margin-right: 16px;
  }
}

.center-divs {
  height: 100%;
}
