.codePreview {
	min-width: 784px;
	width: 784px;
	max-width: 784px;
	margin-left: 64px;
	display: flex;
	flex-direction: column;
	position: sticky;
	// max-height: 100vh;
	max-height: calc(100vh - 32px);
	background: #22221d;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	top: 16px;
}
