@import "commonui.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .CodeEditor {
    // min-width: 664px;
    // max-width: 640px;
  }
}

.line-modal {
  position: absolute;
  right: 50%;
  bottom: 40px;
  // top: 0;
  // left: 50%;

  .adjusted {
    position: relative;
    z-index: 3;
    background: white;
    padding: 16px;
    right: -50%;
  }
}

.CodeEditor {
  // box-shadow: 0px 4px 16px #edece9;
  border-radius: 8px;
  // min-width: 330px;
  border: 1px solid $leaf-light-gray;
  width: 580px;
  // width: 51vw;
  // margin-right: 3vw;
  // height: 92vh;
  // position: sticky;
  // flex-grow: 100;

  display: flex;
  flex-direction: column;
  flex-grow: 100;
  height: 100%;
  // margin-top: 2vh;
}

.myInlineDecoration {
  color: red !important;
  background-color: red !important;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-style: oblique;
}

.myLineDecoration {
  background: $highlighter-yellow;
  width: 5px !important;
  margin-left: 3px;
}
