@import "commonui.scss";

.codestep-content {
  // border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;

  // margin-bottom: 64px;
  margin-right: 80px;
  // margin-right: 80px;
  margin-top: 64px;
}

@media only screen and (max-width: 600px) {
  .codestep-content {
    flex-direction: column !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    width: 100%;
  }
}

.codestep-section {
  border-bottom: 1px solid $leaf-light-gray;
  padding-bottom: 80px;
  background-color: $leaf-background;
  // background-color: #fafafa;
}

.divider {
  @include line;
  width: 100%;
}

.header {
  // width: 800px;
  // display: flex;
  justify-content: center;
}

.published-steps {
  width: 36%;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .published-steps {
    position: relative;
    top: -50vh;
    width: 100% !important;
  }
}

.published {
  border-radius: 8px;

  padding: 24px;
  margin-bottom: 40px;
  color: $gray-text;
  border: 1px solid $leaf-light-gray;
  transition: all 0.2s ease-in-out;
}

.selected {
}

.codesteps-wrapper {
}
