@import "commonui.scss";

.codeblock-select {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  // left: -120px;
  top: 0;
  left: -40px;
}

.codeblock {
  position: relative;
  z-index: 1;
  // padding-left: 30px;
  // left: -30px;
  // font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
  //   monospace;
  padding: 12px;
  padding-top: 28px;
  padding-bottom: 20px;
  margin-top: 16px;
  padding-left: 40px;
  // background-color: #eee;
  background-color: #2f3437;
  border-radius: 8px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // border-style: solid;

  br {
    display: none !important;
  }

  .codeblock-content {
    z-index: 1;
    // white-space: pre-wrap;
    width: 100%;
    overflow-wrap: break-word;
  }

  .codeblock-placeholder {
    position: absolute;
    top: 28px;
    color: gray;
    pointer-events: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    // z-index: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
}

.codelines {
  position: absolute;
  left: 0px;
  top: 28px;
  pointer-events: none;
  text-align: right;
  width: 32px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  .codeline {
    pointer-events: none;
    font-weight: normal;
    // margin-bottom: 3px;
    color: #5e615f;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
}

.choose-languages {
  // position: absolute;
  // position: relative;
  // left: -4px;
  // top: -26px;
  // top: 0;
  border-radius: 4px;
  padding: 2px;
  transition: background-color 0.2s ease-in-out;
  // pointer-events: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;

  select {
    border-style: none;
    background-color: $codeeditor-background;
    color: $leaf-dark-blue;
    font-size: 14px;
    // text-decoration: underline;
    -webkit-appearance: none;
  }
}

.choose-languages:hover {
  background-color: $leaf-light-gray;
  transition: background-color 0.2s ease-in-out;
}
