$leaf-light-gray: #edece9;
$gray-text: #c4c4c4;
$light-blue: #d8e7f8;
$leaf-dark-blue: #349ae9;
$highlighter-yellow: #f7d87c;
$leaf-background: #fffefc;
$codeeditor-background: #2f3437;

@mixin line {
  // must specify width
  height: 1px;
  background: $leaf-light-gray;
}

@mixin draft-button {
  background: #ffffff;
  border: 1px solid $leaf-light-gray;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
}

@mixin red-button {
  background: #FDF5F2;
  border: 1px solid #F7C6C4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  color: #E9595B;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 16px #edece9;
}

@mixin draft-button-focused {
  outline: none;
}

@mixin title-with-divider {
  label {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
  }
  div {
    @include line;
    width: 100%;
    margin: 2px 0px 8px 0px;
  }
}

@mixin link-item {
  a:link {
    color: #000000;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    padding: 4px;
  }

  a:visited {
    color: #000000;
    transition: all ease-in-out 0.2s;
  }

  a:hover {
    // color: #1db954;
    border-radius: 4px;
    padding: 4px;
    background-color: #349ae9;
    color: white;
    transition: all ease-in-out 0.2s;
  }
}
