$leaf-light-gray: #edece9;
$gray-text: #C4C4C4;

@mixin line {
  // must specify width
  height: 1px;
  background: $leaf-light-gray;
}

@mixin draft-button {
  background: #ffffff;
  border: 1px solid $leaf-light-gray;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
}

@mixin draft-button-focused {
  outline: none;
}