.PublishingButtonsWrapper {
  display: flex;
  // justify-content: right;
  flex-direction: row-reverse;
}

.publishingButtons {
  display: flex;
  margin-top: 45px;

  button {
    padding: 8px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12px;
    border-radius: 4px;

    box-sizing: border-box;
    border-radius: 4px;
  }

  .preview {
    color: #000000;
    background: #ffffff;
    border: 1px solid #edece9;
  }

  .publish {
    background: #37abda;
    border: 1px solid #329bc5;
    color: white;
  }
}
.publishing {
  // min-width: 480px;
  min-width: 608px;
  margin-right: 64px;
  .header {
    display: flex;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d0d0d0;
    // padding-bottom: 8px;
    width: 100%;
    position: sticky;
    // position: fixed;

    h1 {
      margin-top: 0px;
      margin-bottom: 8px;
      width: 100%;

      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 48px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #898984;
    }

    textArea {
      transition: 
        border-color .15s ease-in-out, 
        box-shadow .15s ease-in-out; 
      outline: 0; 
      box-shadow: none; 
      border: none; 
      border-radius: 0; 
      box-sizing: content-box; 
      background-color: transparent; 
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      width: 605px;
      height: 45px;
      padding: 1.5rem 0; 
      resize: none;  
    }

    .titleName {
      color: #27a4eb;
    }
  }
}
