.container {
  width: 100%;
  height: 100%;
}

.ExploreMainWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #ffffff;

  justify-content: center;
  align-items: center;

}

.explore-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  .Text {
    margin-left: 0px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    display: flex;
    align-items: center;
    color: #000000;
  }
}

.search-and-filter {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-items: stretch;
  .search {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    // margin-right: 10px;
    position: relative;
  
    img {
      position: absolute;
      margin: 6px;
    }
  
    .search-bar {
      padding-left: 40px;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      
      background: #FFFFFF;
      box-shadow: 0px 4px 16px #EDECE9;
      height: 40px;
      width: 569px;
      left: 0px;
      top: 0px;
      border-radius: 20px;
      border: none;
      margin-bottom: 20px;
      margin-left: 1px;
      font-size: 18px;
      outline-width: 0;
    }
  }
  
  .selections {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    // justify-content: space-evenly;
    // align-items: center;
    // margin-bottom: 50px;
    // position: absolute;
  
    // .select-dropdown  {
    //   margin-right: 50px;
    // }
  
      /* Navbar container */
    .filter {
      overflow: hidden;
      // background-color: #333;
      font-family: Arial;
    }
  
    /* Links inside the navbar */
    .filter option {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }
  
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
  
      img {
        max-width: 15px;
        height: auto;
        // margin-right: 6px;
      }
    }
  
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #FFFEFC;
    
      width: 70%;
      height: 100%;
      left: 18%;
      // margin: 50;
      // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
  
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 14%;
      padding: 10px;
      // background-color: #ccc;
      height: 420px;
  
      .selected-option {
        background-color: #349ae9 !important;
        color: white !important;
      }
    }

    .column h3 {
      padding: 10px;
    }
  
    /* Style links inside the columns */
    .column option {
      float: none;
      color: black;
      padding: 10px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  
    /* Add a background color on hover */
    .column option:hover {
      background-color: #349ae9;
      color: white;
      transition: all ease-in-out 0.2s;
    }
  
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  
    .sort{
      // margin-right: 100px;
      // margin-left: 100px;
      .dropdown {
        // align-items: center;
        position: absolute;
        z-index: 1;
        // margin-right: 3rem;
        overflow: hidden;
      }
      
      /* Dropdown button */
      .dropdown .dropbtn {
        z-index: 2;
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
  
        img {
          max-width: 15px;
          height: auto;
        }
      }
      
      /* Dropdown content (hidden by default) */
      .dropdownContent {
        // display: flex;
        // flex-direction: row;
        display: none;
        // position: absolute;
        background-color: #FFFEFC;
        border-radius: 8px;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
  
        .selected-option {
          background-color: #349ae9 !important;
          color: white !important;
        }
      }
      
      /* Links inside the dropdown */
      .dropdownContent option {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      
        z-index: 2;
      }
      
      /* Add a blue background color to dropdown links on hover */
      .dropdownContent option:hover {
        background-color: #349ae9;
        color: white;
        transition: all ease-in-out 0.2s;
      }
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdownContent {
        // display: flex;
        // flex-direction: row;
        display: block;
        right: 1%;
        z-index: 2;
      }
    }
  }
} 

.post {
  width: 811px;
  height: 130px;
  left: 315px;
  top: 306px;
  margin: 10px;

  background: #FFFFFF;
  box-shadow: 0px 4px 16px #EDECE9;
  border-radius: 8px;
  cursor: pointer;
}

.post-title-explore {
  width: 98%;
  height: 46px;
  margin-left: 10px;
  margin-top: 10px;
  overflow: scroll;
  white-space: nowrap; 
  // overflow: hidden;
  // left: 331px;
  // top: 322px;
  
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  // line-height: 46px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}

.post-date {
  width: 150px;
  height: 17px;
  left: 331px;
  top: 400px;
  margin-left: 10px;
  // margin-top: 20px;
  
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  
  color: #C4C4C4;
}
.post-tags-author {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 20px;

  .post-tag {
    background: #F5F5F5;
    height: 28.12371063232422px;
    width: 70px;
    left: 331px;
    top: 408px;
    border-radius: 3.195876121520996px;
    // margin: 5px;
    margin-right: 10px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: auto;
    
    color: #000000;
  }

  .post-tag:hover {
    background-color: #349ae9;
    color: white;
    transition: all ease-in-out 0.2s;
  }

  .post-author {
    color: black;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
    // padding: 15px;
    // align-self: baseline;
  }
}





