.FileBar {
  background: #3f4447;
  height: 3vh;
  border: 1px solid #4c5153;
  border-radius: 8px 8px 0px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  // padding-right: 16px;
  align-items: center;
  // padding: 8px;
}

.add-new-file-btn {
  margin-left: 8px;
  min-width: 94px;
  text-align: left;
}

.published-filebar-wrapper {
  background: #3f4447;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 48px;
  border-radius: 8px 8px 0px 0px;
}

.published-filebar-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.published-filebar {
  display: flex;
  height: 3vh;
  flex-direction: row;
  // border-radius: 8px 8px 0px 0px;
  // overflow-y: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  position: relative;
  // left: 20px;
}

.published-file {
  // margin-right: 16px;
  cursor: pointer;
  padding: 8px;

  border-right-style: solid;
  border-right-color: #4c5153;
  border-right-width: 1px;
  color: rgb(137, 137, 132);
}

.published-file-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  // padding: 4px;
  // margin-right: 4px;
  cursor: pointer;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
  color: white;

  border-left-style: solid;
  border-left-color: white;
  border-left-width: 1px;
}

.arrow-button {
  position: absolute;
  z-index: 3;
  width: 120px;
  height: 48px;
  padding: 0px;
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
  // cursor: none;
  pointer-events: none;
}

.published-filebar-left {
  @extend .arrow-button;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #3f4447 0%, rgba(63, 68, 71, 0) 81.34%);
  // background: linear-gradient(90deg, #ffffff 0%, rgba(63, 68, 71, 0) 81.34%);
  border-radius: 8px 0px 0px 0px;
}

.published-filebar-right {
  @extend .arrow-button;
  top: 0px;
  right: 0px;
  background: linear-gradient(270deg, #3f4447 0%, rgba(63, 68, 71, 0) 100%);
  border-radius: 0px 8px 0px 0px;
}

.arrow-left {
  position: relative;
  left: -40px;
  -moz-transform: scale(1.3) rotate(180deg);
  -webkit-transform: scale(1.3) rotate(180deg);
  -o-transform: scale(1.3) rotate(180deg);
  -ms-transform: scale(1.3) rotate(180deg);
  transform: scale(1.3) rotate(180deg);
  cursor: pointer;
  pointer-events: auto;
}

.arrow-right {
  position: absolute;
  // right: -40px;
  right: 12px;
  top: 12px;
  transform: scale(1.3);
  cursor: pointer;
  pointer-events: auto;
  // -moz-transform: scale(1.3) rotate(180deg);
  // -webkit-transform: scale(1.3) rotate(180deg);
  // -o-transform: scale(1.3) rotate(180deg);
  // -ms-transform: scale(1.3) rotate(180deg);
  // transform: scale(1.3) rotate(180deg);
}

.arrow-button-wrapper {
  position: relative;
  pointer-events: auto;
  // right: -49px
}
