.filenames {
  // padding-top: 16px;
  // margin-left: 8px;
  // display: flex;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // outline: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  box-sizing: content-box;
  background-colorf: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100px;
  // height: 45px;
  // padding: 1.5rem 0;
  resize: none;
}

.filename-wrapper {
  padding: 4px;
  background: #ffffff;
  border: 1px solid #edece9;
  box-sizing: border-box;
  border-radius: 24px;
  color: black;
  font-size: 12px;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;

  label {
    max-width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    cursor: pointer;
    transition: max-width 0.2s ease-in-out;
  }
}

.filename-wrapper:hover {
  transition: all 0.2s ease-in-out;
  // background: #349ae9;
  background: black;
  color: white;
}

.filename-wrapper-selected {
  @extend .filename-wrapper;
  background-color: #349ae9;
  color: white;
  transition: all 0.2s ease-in-out;

  label {
    overflow: visible;
    max-width: none;
  }
}

.filename-wrapper-selected:hover {
  @extend .filename-wrapper;
  transition: all 0.2s ease-in-out;

  label {
    overflow: visible;
    max-width: none;
    // transition: max-width 0.2s ease-in-out;
  }
}

.close-button {
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 16px;
  border: none;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  outline: none;
  color: black;
  font-size: 14px;
  background-color: white;
}

.close-button:focus {
  outline: none;
}