.FileBar {
  background: #3f4447;
  height: 3vh;
  border: 1px solid #4c5153;
  border-radius: 8px 8px 0px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  // padding: 8px;
}

.add-new-file-btn {
  margin-left: 8px;
  min-width: 94px;
  text-align: left;
}

.published-filebar {
  display: flex;
  flex-direction: row;
  background: #3f4447;
  border-radius: 8px 8px 0px 0px;
  // overflow-x: scroll;
}

.published-file {
  padding: 12px;
  // margin-right: 16px;
  cursor: pointer;

  border-right-style: solid;
  border-right-color: #4c5153;
  border-right-width: 1px;
  color: rgb(137, 137, 132);
}

.published-file-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;

  // padding: 4px;
  // margin-right: 4px;
  cursor: pointer;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
  color: white;

  border-left-style: solid;
  border-left-color: white;
  border-left-width: 1px;
}
