@import "commonui";

.FileBar {
  background: #3f4447;
  height: 3vh;
  border: 1px solid #4c5153;
  border-radius: 8px 8px 0px 0px;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  // padding-right: 16px;
  align-items: center;
  // padding: 8px;
}

.add-new-file-btn {
  margin-left: 8px;
  min-width: 94px;
  text-align: left;
}

.published-filebar {
  display: flex;
  height: 3vh;
  flex-direction: row;
  background: #3f4447;
  border-radius: 8px 8px 0px 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  align-items: center;
}

.published-file {
  // margin-right: 16px;
  cursor: pointer;
  padding: 8px;

  border-right-style: solid;
  border-right-color: #4c5153;
  border-right-width: 1px;
  color: rgb(137, 137, 132);
}

.published-file-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  // padding: 4px;
  // margin-right: 4px;
  cursor: pointer;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
  color: white;

  border-left-style: solid;
  border-left-color: white;
  border-left-width: 1px;
}

.filebar {
  // display: flex;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  .new-file {
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
  }
}

.files {
  display: flex;
  overflow-x: scroll;
}

.files::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  opacity: 0; /* make scrollbar transparent */
  height: 0px;
}

.title-with-divider {
  @include title-with-divider;
}

.filebar-wrapper {
  button {
    @include draft-button;
  }
}
