@import "commonui.scss";

.introduction {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  box-sizing: border-box;
  //   align-items: center;
}

@media only screen and (max-width: 800px) {
  .introduction {
    width: 100% !important;
    // padding-left: 16px;
    // padding-right: 16px;
  }
}

.title {
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .title {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.published-by {
  box-sizing: border-box;
  margin-top: 4px;
  //   padding: 4px;
  height: 20px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #757575;
  font-weight: 200;
  @include link-item;
}

@media only screen and (max-width: 800px) {
  .published-by {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .published-by {
    flex-direction: column;
    margin-bottom: 20px;
    height: auto;
  }
}

.author-name-and-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  margin-left: 2px;
  margin-right: 3px;

  @include link-item;
}

.published-post-author-img {
  img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    margin-right: 8px;
  }

  img:hover {
    cursor: pointer;
  }
}

.post-tags {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 16px;

  .post-tag {
    background: #f5f5f5;
    height: 28px;
    padding: 2px;
    width: 70px;
    left: 331px;
    top: 408px;
    border-radius: 3.195876121520996px;
    // margin: 5px;
    margin-right: 10px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // margin-left: auto;

    color: #000000;
  }
}

@media only screen and (max-width: 800px) {
  .post-tags {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
  }
}
