@import "commonui.scss";

.hovered-toolbar {
  display: flex;
  flex-direction: row;
  background-color: $codeeditor-background;
  padding: 4px;
  border-radius: 4px;
  z-index: 5;
  color: white;

  border: 1px solid #edece9;
  box-sizing: border-box;
  // box-shadow: 0px 4px 16px #edece9;
}

.formatting-toolbar {
  padding-left: 72px;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border: 1px solid $leaf-light-gray;
  background-color: $leaf-background;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .buttons {
    display: flex;
  }
}

.formatting-button {
  margin-left: 4px;
  cursor: pointer;
}

.bold-button {
  @extend .formatting-button;
}

.italic-button {
  @extend .formatting-button;
}

.code-button {
  @extend .formatting-button;
}

.link-button {
  @extend .formatting-button;
}

.mark-button {
  margin-right: 12px;
  cursor: pointer;
  padding: 8px;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $leaf-light-gray;
  border-radius: 4px;
  box-shadow: 0px 4px 12px #edece9;

  // margin: 8px;
  // height: 16px;
  // width: 16px;
}

.save-state {
  position: relative;
  right: 160px;
}
