html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fffefc;
  margin: 0;
}

.MarkText {
  background-color: #9db6c13d;
  padding-top: 2px;
  padding-bottom: 2px;
}

.CodeEditor {
  height: 100%;
}
