html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #FFFEFC;
}

// .CodeEditor {
//   color: red;
// }

.MarkText {
  background-color: yellow;
}

.CodeMirror {
  // border: 1px solid #eee;
  // height: inherit !important;
  // height: 90vh !important;
  // width: 531px;
// height: auto;
}
