.container {
    width: 100%;
}

.MainWrapper {
    width: 100%;
    font-family: Arial rounded MT bold;
}

.Header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 320px;

    justify-content: center;
    align-items: center;
    background: #000000;
    
    .NavBar {
        display: flex;
        flex-direction: row;   
        width: 100%; 

        .Logo {
            display: flex;
            align-self: flex-start;

            margin-bottom: 30px;
            margin-left: 3%;
            margin-right: 70%;

            font-style: normal;
            font-weight: bold;
            font-size: 60px;

            color: #68B2A0;
        }

        .Login {
            display: flex;
            width: 92px;
            height: 34px;

            padding-top: 20px;
            margin-bottom: 30px;
            justify-content: space-evenly;
            align-self: stretch;

            font-style: normal;
            font-weight: normal;
            font-size: 20px;

            a:link {
                color:  #FFFFFF;
                text-decoration: none;
            }

            a:visited {
                color: #FFFFFF;
            }

            a:hover {
                color: #68B2A0;
            }
        }
    }

    .HeaderText {
        display: flex;
        width: 100%;
        height: 75px;

        align-items: center;
        text-align: center;
        justify-content: center;
        align-self: center;

        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 45px;

        color: #FFFFFF;
    }

    .GetStarted {
        display: flex;

        padding-top: 20px;
        align-items: center;
        justify-content: center;
        
        .button {
            display: flex;

            align-items: center;
            justify-content: center;
            padding: 0.5em;
            
            font-weight: bold;
            font-size: 28px;
    
            color: #000000;
            background: #FFFFFF;
            border: 1px solid #000000;

            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 40px;
            cursor: pointer;
        }
    }

    .GetStarted:hover {
        background: #68B2A0;
    }
}

.Body {
    display: flex;
    flex-direction: row;

    margin-top: 1em;
    justify-content: space-evenly;
    align-items: center;
    
    // background-color: #68B2A0;
    // background-color: #CDE0C9;
    .BodyTextH1 {
        position: relative;
        width: 100%;
        height: 41px;

        margin-top: 1em;
        text-align: left;
        
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        
        color: #000000;
    }

    .BodyTextH2 {
        position: relative;
        width: 100%;
        height: 41px;

        padding-top: 80px;
        margin-top: 0.1em;
        margin-bottom: 2.5em;
        text-align: left;
        
        font-style: normal;
        font-weight: light;
        font-size: 40px;
        line-height: 50px;
        
        color: #000000;
    }

    .Preview {
        // position: relative;
        display: flex;

        width: 100%;
        height: 200px;

        margin-top: 40px;
        justify-content: center;
        align-items: center;

        border-radius: 20px;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);        
        transition: box-shadow ease-in-out 0.2s;
        background: #FFFFFF;

        cursor: pointer;
    }
      
    .Preview:hover {
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.4);
        transition: box-shadow ease-in-out 0.2s;
    }

    img {
        max-width: 100%;
        height: auto;
        width: auto; 
        border-radius: 20px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .Header {
        flex-direction: column;
    
        .NavBar {
            justify-content: center;
            align-items: center;
            .Logo {
                display: flex;
                margin-left: 3%;
                margin-right: 5%;
                font-size: 40px;
            }

            .Login {  
                padding-right: 0px;  
                font-size: 15px;
            }    
        }
    
        .HeaderText {
            font-size: 45px;
        }
    }

    .Body {
        display: flex;
        flex-direction: column;
        padding: 1em;

        .BodyTextH1 {
            margin-top: 1em;
            font-size: 35px;
            line-height: 40px;
        }
    
        .BodyTextH2 {
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 1em;
        }
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .Header {
        display: flex;
        flex-direction: column;

        .NavBar {
            .Logo {
                font-size: 40px;
                margin-right: 55%;
            }
            .Login {  
                padding-right: 0px;  
                font-size: 15px;
            }    
        }
    
        .HeaderText {
            font-size: 50px;
        }
    }

    .Body {
        display: flex;
        flex-direction: column;
        padding: 1em;
    
        .BodyTextH1 {
            margin-top: 1em;
            font-size: 45px;
            line-height: 50px;
        }
    
        .BodyTextH2 {
            font-size: 35px;
            line-height: 50px;
            padding-bottom: 1.5em;
        }
    
        .Preview {
            margin-left: 10px;
        }
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .Header {
        display: flex;
        flex-direction: column;

        .NavBar {
            .Logo {
                font-size: 50px;
                margin-right: 60%;
            }
            .Login {  
                padding-right: 0px;  
                font-size: 20px;
            }    
        }
    
        .HeaderText {
            font-size: 60px;
        }
    }

    .Body {
        display: flex;
        flex-direction: column;
        padding: 1em;
    
        .BodyTextH1 {
            margin-top: 1em;
            font-size: 45px;
            line-height: 50px;
        }
    
        .BodyTextH2 {
            font-size: 35px;
            line-height: 50px;
            padding-bottom: 1.5em;
        }
    
        .Preview {
            margin-left:10px;
        }
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .Header {
        display: flex;
        flex-direction: column;

        .NavBar {
            .Logo {
                font-size: 50px;
                margin-left: 5%;
                margin-right: 65%;
            }
            .Login {  
                padding-right: 0px;  
                font-size: 20px;
            }
        
        }
    
        .HeaderText {
            font-size: 65px;
        }
    }

    .Body {
        display: flex;
        flex-direction: row;

        padding-top: 40px;
        justify-content: space-evenly;
        align-items: center;
        
        .BodyTextH1 {
            position: relative;
            width: 100%;
            height: 41px;

            margin-top: 0em;
            margin-bottom: 0.5em;
            padding-left: 0.3em;
            text-align: left;
            
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 60px;
            
            color: #000000;
        }
    
        .BodyTextH2 {
            position: relative;
            width: 100%;
            height: 41px;

            margin-top: 0.5em;
            padding-left: 0.3em;
            text-align: left;
            
            font-style: normal;
            font-weight: light;
            font-size: 40px;
            line-height: 50px;
            
            color: #000000;
        }
    
        .Preview {
            display: flex;
            position: relative;
            width: 100%;
            height: 200px;

            margin-top: 40px;
            justify-content: center;
            align-items: center;

            border-radius: 20px;
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
            transition: box-shadow ease-in-out 0.2s;
            background: #FFFFFF;
    
            cursor: pointer;
        }
          
        .Preview:hover {
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.4);
            transition: box-shadow ease-in-out 0.2s;
        }
    }
  }
