@media only screen and (max-width: 400px) {
  .IndexHeader {
    display: none !important;
  }
  .HeaderDropDown {
    display: flex !important;
  }

  .Title {
    margin-right: 1rem;
    margin-top: 2rem !important;
    width: 100%;
    height: auto !important;
  }

  .Banner {
    flex-direction: column !important;
    margin-top: 80px !important;
  }

  .Text {
    margin-left: 3rem !important;
  }

  .h1Text {
    z-index: 0 !important;
    font-size: 40px !important;
    line-height: 40px !important;
    text-align: center;
    margin-bottom: 38px !important;
  }

  .h2Text {
    margin-top: 80px !important;
    margin-bottom: 20px !important;

    font-size: 25px !important;
    line-height: 30px !important;
    text-align: center;
  }

  .TitleButtons {
    justify-content: center;

    .GetStarted {
      font-size: 15px !important;
      line-height: 46px !important;
      width: 280px !important;
  
      img {
        display: none;
      }
    }
  
    .Explore {
      font-size: 15px !important;
      line-height: 46px !important;
      width: 280px !important;
  
      img {
        display: none;
      }
    }
  }

  .computer {
    display: none;
    position: relative;
    left: 32px;
    top: -40px;
    .screen {
      top: 35.5%;
      left: 23.35%;
      width: 48.3%;
      height: 35.5%;
    }
  }

  .Stripe1 {
    height: 760px;
  }

  .Stripe2 {
    height: 300px;
    margin-top: 30px;
  }

  .Stripe3 {
    height: 200px !important;
    margin-top: 50px;
  }

  .IndexFooter {
    .FooterNavBar {
      .Logo {
        display: none !important;
      }
      .Login {
        justify-content: center !important;
        font-size: 15px !important;
        margin-right: 0rem !important;
      }
      align-items: center;
      justify-content: center;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px ) and (max-width: 600px) { 
  .IndexHeader {
    display: none !important;
  }
  .HeaderDropDown {
    display: flex !important;
  }

  .Title {
    margin-right: 1rem;
    margin-top: 2rem !important;
    width: 100%;
    height: auto !important;
  }

  .Banner {
    flex-direction: column !important;
    margin-top: 80px !important;
  }

  .Text {
    margin-left: 3rem !important;
  }

  .h1Text {
    z-index: 0 !important;
    font-size: 45px !important;
    line-height: 50px !important;
    text-align: center;
    margin-bottom: 38px !important;
  }

  .h2Text {
    margin-top: 100px !important;
    margin-bottom: 20px !important;

    font-size: 30px !important;
    line-height: 35px !important;
    text-align: center;
  }

  .TitleButtons {
    justify-content: center;

    .GetStarted {
      font-size: 16px !important;
      line-height: 46px !important;
      width: 280px !important;
    }
  
    .Explore {
      font-size: 16px !important;
      line-height: 46px !important;
      width: 280px !important;
    }
  }

  .computer {
    display: none;
    position: relative;
    left: 32px;
    top: -40px;
    .screen {
      top: 35.5%;
      left: 23.35%;
      width: 48.3%;
      height: 35.5%;
    }
  }

  .Stripe1 {
    height: 760px;
  }

  .Stripe2 {
    height: 300px;
    margin-top: 30px;
  }

  .Stripe3 {
    height: 200px !important;
    margin-top: 50px;
  }

  .IndexFooter {
    .FooterNavBar {
      .Logo {
        display: none !important;
      }
      .Login {
        justify-content: center !important;
        margin-right: 0rem !important;
      }
      align-items: center;
      justify-content: center;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Stripe1 {
    height: 760px;
  }

  .Stripe2 {
    height: 450px;
    margin-top: 50px;
  }

  .Stripe3 {
    height: 250px;
    margin-top: 0px;
  }

  .Banner {
    flex-direction: column;
    margin-top: 80px;
  }

  .Text {
    margin-left: 3rem;
    width: 60%;
  }

  .h1Text {
    align-self: flex-start;
    margin-bottom: 50px;
    font-size: 65px;
    text-align: left;
  }

  .h2Text {
    align-self: flex-start;
    margin-top: 64px;
    margin-bottom: 28px;
    text-align: left;
  }

  .TitleButtons {
    justify-content: left;
  }

  .computer {
    display: none;
    // position: relative;
    // top: -160px;
    .screen {
      top: 35.5%;
      left: 24.1%;
      width: 48.3%;
      height: 35.5%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Text {
    margin-left: 3rem;
    width: 60%;
  }

  .h1Text {
    align-self: flex-start;
    margin-bottom: 50px;
    font-size: 65px;
    text-align: left;
  }

  .h2Text {
    align-self: flex-start;
    margin-top: 64px;
    margin-bottom: 28px;
    text-align: left;
  }

  .TitleButtons {
    justify-content: left;
  }

  .computer {
    display: flex;
    .screen {
      top: 35.5%;
      left: 24.1%;
      width: 48.3%;
      height: 35.5%;
    }
  }

  .Stripe1 {
    height: 760px;
  }

  .Stripe2 {
    height: 550px;
    margin-top: 50px;
  }

  .Stripe3 {
    height: 250px;
    margin-top: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .h1Text {
    margin-bottom: 40px;
  }

  .h2Text {
    margin-top: 64px;
    margin-bottom: 28px;
  }

  .computer {
    .screen {
      top: 35.5%;
      left: 22.6%;
      width: 48.3%;
      height: 35.5%;
    }
  }

  .Stripe1 {
    height: 760px;
  }

  .Stripe2 {
    height: 550px;
    margin-top: 100px;
  }

  .Stripe3 {
    height: 250px;
    margin-top: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .h2Text {
    margin-top: 48px;
    margin-bottom: 0px;
  }

  .computer {
    .screen {
      top: 35.5%;
      left: 22.35%;
      width: 48.3%;
      height: 35.5%;
    }
  }

  .Stripe1 {
    height: 760px;
  }

  .Stripe2 {
    height: 650px;
  }
}

/* Extra large devices (large laptops and desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
  .h2Text {
    margin-bottom: 0px;
    margin-top: 28px;
  }

  .computer {
    .screen {
      top: 35.5%;
      left: 22.15%;
      width: 48.3%;
      height: 35.5%;
    }
  }

  .Stripe2 {
    margin-top: 100px;
    height: 700px;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.MainWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IndexHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #ffffff;

  justify-content: center;
  align-items: center;
}

.IndexNavBar {
  display: flex;
  flex-direction: row;
  width: 100%;

  .Logo {
    display: flex;
    align-self: flex-start;
    margin-right: auto;
    width: 150.75px;
    height: 76px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    top: 8px;
    img {
      height: 60px;
    }
    cursor: pointer;
    z-index: 1;
  }

  .Login {
    z-index: 1;
    display: flex;
    width: 92px;
    height: 34px;
    align-self: flex-end;
    margin-bottom: 30px;
    justify-content: space-evenly;

    margin-right: 2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    a:link {
      color: #000000;
      text-decoration: none;
      padding: 4px;
    }

    a:visited {
      color: #000000;
    }

    a:hover {
      border-radius: 4px;
      padding: 4px;
      background-color: #349ae9;
      color: white;
      transition: all ease-in-out 0.2s;
    }
  }
}

.HeaderDropDown {
  display: none;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #ffffff;

  justify-content: center;
  align-items: center;
}

.NavBarDropDown {
  display: flex;
  z-index: 1;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .Logo {
    display: flex;
    align-self: flex-start;
    margin-right: auto;
    width: 150.75px;
    height: 76px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    top: 8px;
    img {
      height: 60px;
    }
    cursor: pointer;
    z-index: 1;
  }
  .dropdown {
    z-index: 1;
    margin-right: 3rem;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    z-index: 2;
    transform: scale(1.8);
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */

    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    z-index: 2;
  }
  
  /* Add a blue background color to dropdown links on hover */
  .dropdownContent a:hover {
    background-color: #349ae9;
    color: white;
    transition: all ease-in-out 0.2s;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdownContent {
    display: block;
    right: 1%;
  }
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
}

.Banner {
  background: transparent;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Text {
  background: transparent;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.h1Text {
  z-index: 1;
  width: 100%;
  height: 92px;
  left: 29px;
  margin-top: 40px;
  margin-bottom: 50px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  display: flex;
  align-items: center;

  color: #000000;
}

.h2Text {
  z-index: 1;
  width: 100%;
  height: 46px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 46px;

  display: flex;
  align-items: center;

  color: #000000;
}

.TitleButtons {
  background: transparent;
  display: flex;
  flex-direction: row;
  padding: 16px;
  width: 100%;
  align-items: center;
  justify-content: left;

  .Explore {
    z-index: 1;
    width: 180px;
    height: 50px;
    margin-top: 28px;

    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(159, 159, 159, 0.25);
    border-radius: 4px;

    position: static;
    left: 16px;
    top: 16px;

    font-family: Helvetica;
    font-style: normal;
    font-size: 20px;
    line-height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

    cursor: pointer;

    img {
      padding-left: 0.6rem;
      width: 20px;
      height: auto;
      transform: translate(0%, 10%);
    }
  }

  .GetStarted {
    z-index: 1;
    width: 180px;
    height: 50px;
    margin-right: 20px;
    margin-top: 28px;

    background: #349ae9;
    box-shadow: 0px 4px 8px rgba(159, 159, 159, 0.25);
    border-radius: 4px;

    position: static;
    left: 16px;
    top: 16px;

    font-family: Helvetica;
    font-style: normal;
    font-size: 20px;
    line-height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

    color: #ffffff;

    cursor: pointer;

    img {
      padding-left: 0.6rem;
      width: 20px;
      height: auto;
      transform: translate(0%, 10%);
    }
  }
}

.demo {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
}

.Row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;

  margin-top: 130px;
  margin-bottom: 50px;

  img {
    height: auto;
    width: 70%;
  }

  .RowHeader {
    align-self: flex-start;
  }

  filter: drop-shadow(0px 2.12355px 2.12355px rgba(0, 0, 0, 0.25));
  border-radius: 4.24709px;
}

.Row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  margin-top: 58px;
  margin-bottom: 50px;

  img {
    height: auto;
    width: 70%;
  }

  .Row2Header {
    align-self: flex-end;
  }

  filter: drop-shadow(0px 2.12355px 2.12355px rgba(0, 0, 0, 0.25));
  border-radius: 4.24709px;
}

.Row3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;

  margin-top: 88px;
  margin-bottom: 50px;

  img {
    height: auto;
    width: 70%;
  }

  .RowHeader {
    align-self: flex-start;
  }

  filter: drop-shadow(0px 2.12355px 2.12355px rgba(0, 0, 0, 0.25));
  border-radius: 4.24709px;
}

.Row4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  z-index: 1;

  .Row4Text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .GetStarted2 {
    z-index: 1;
    width: 248px;
    height: 78px;
    margin-top: 28px;

    background: #349ae9;
    box-shadow: 0px 4px 8px rgba(159, 159, 159, 0.25);
    border-radius: 4px;

    position: static;
    left: 16px;
    top: 16px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;

    color: #ffffff;

    cursor: pointer;
  }
}

.IndexFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  height: 80px;
  left: 0px;

  background: #ffffff;
  box-shadow: 2px 0px 12px #f4f4f4;

  justify-content: bottom;
  align-items: bottom;

  .FooterNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
  
    .Logo {
      display: flex;
      align-self: flex-start;
      margin-right: auto;
      margin-top: 5px;
      width: 150.75px;
      height: 76px;
      margin-left: 1.5rem;
      top: 8px;
  
      img {
        height: 60px;
      }
  
      cursor: pointer;
    }
  
    .Login {
      display: flex;
      width: 92px;
      height: 34px;
  
      padding-top: 20px;
      margin-bottom: 30px;
      justify-content: space-evenly;
  
      margin-right: 2rem;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
  
      a:link {
        color: #000000;
        text-decoration: none;
        padding: 4px;
      }
  
      a:visited {
        color: #000000;
      }
  
      a:hover {
        border-radius: 4px;
        padding: 4px;
        background-color: #349ae9;
        color: white;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}

.Stripe1 {
  width: 100%;
  height: 760px;
  background: radial-gradient(
    circle 827px at 47.3% 48%,
    rgba(255, 255, 255, 1) 0%,
    rgb(10, 164, 235) 90%
  );
  position: absolute;
  top: 0;
  opacity: 0.2;
  transform: skewY(-6deg);
  transform-origin: 0;
}

.Stripe2 {
  // margin-top: 50px;
  width: 100vw;
  // height: 760px;
  background: radial-gradient(
    circle 827px at 47.3% 48%,
    rgba(255, 255, 255, 1) 0%,
    rgb(10, 164, 235) 90%
  );
  position: absolute;
  top: 0;
  opacity: 0.2;
  transform: skewY(-6deg);
  transform-origin: 0;
  z-index: -1;
}

.Stripe3 {
  margin-bottom: 80px;
  width: 100vw;
  height: 280px;
  background: radial-gradient(
    circle 827px at 47.3% 48%,
    rgba(255, 255, 255, 1) 0%,
    rgb(10, 164, 235) 90%
  );
  position: absolute;
  opacity: 0.2;
  transform: skewY(2deg);
  transform-origin: 0;
  z-index: -1;
}

.computer {
  opacity: 1;
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  transform: translate(0px, -50px);
  // left: -40px;
  .screen {
    position: absolute;
    z-index: 10;
    overflow: hidden;
  }

  img {
    margin-left: 10px;
    width: 100%;
    height: auto;
    transform: translate(-5%, 5%);
    z-index: 1;
  }
}

.Screen {
  top: 21.1%;
  left: 12.9%;
  width: 64.7%;
  background-color: #fffefc;
  z-index: 10;
  overflow: hidden;

  .Demo {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
}
