@import "commonui.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Section {
    h1 {
      font-size: 24px;
    }
  }

  .Draft-Title {
    font-size: 16px;
  }

  .Edit {
    width: 100%;
  }
  .EditButtons {
    flex-direction: column !important;
  }

  .DraftWrapper {
    flex-direction: column-reverse;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Section {
    h1 {
      font-size: 24px;
    }
  }

  .Draft-Title {
    font-size: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Draft-Title {
    font-size: 24px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Section {
    h1 {
      font-size: 40px;
    }
  }

  .Draft-Title {
    font-size: 32px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Section {
    h1 {
      font-size: 60px;
    }
  }
  .Draft-Title {
    font-size: 40px;
  }
}

.Draft-Title {
  width: 98%;
  height: auto;
  margin-left: 10px;
  padding: 5px;
  word-wrap: normal;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  align-items: center;

  color: #000000;
}

.draft {
  flex-grow: 100;
  border-style: solid;
  border: 1px solid #edece9;
  border-radius: 8px;
  color: black;
  // padding: 16px;
  margin-bottom: 12px;
  background: white;
  box-shadow: 0px 4px 16px #edece9;
  cursor: pointer;
}

.left-header {
  display: flex;
}

.header {
  position: fixed;

  top: 0;
  width: 100%;
  background-color: white;
  z-index: 6;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.5);

  hr {
    width: 100%;
    border-top: 1px solid #edece9;
    margin: 0;
  }

  .navbar {
    display: flex;
    margin-right: 80px;
    margin-left: 64px;
    align-items: center;
  }
}

.items {
  // margin-right: 80px;
  display: flex;
}

.menu-item {
  margin-left: 16px;
  color: #000000;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  padding: 4px;
  cursor: pointer;

  a:visited {
    color: black;
  }
  a {
    text-decoration: none;
  }
}

.menu-item:hover {
  // color: #1db954;
  border-radius: 4px;
  padding: 4px;
  background-color: #349ae9;
  color: white;
  transition: all ease-in-out 0.2s;

  a {
    transition: all ease-in-out 0.2s;
    color: white;
  }
}

.logo {
  align-self: flex-start;
  margin-right: auto;

  img {
    height: 50px;
  }
}

.Section {
  width: 100%;
  h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: bold;
    // font-size: 60px;
    line-height: auto;

    margin-top: 0px;
    margin-bottom: 0px;
  }

  hr {
    border: 1px solid #e9ede9;
  }

  .create-button {
    padding: 8px;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    background: #349ae9;
    box-shadow: 0px 4px 16px #edece9;
    border-radius: 4px;
    border: 1px solid #edece9;
    cursor: pointer;
  }

  .create-button-plus {
    background: #349ae9;
    box-shadow: 0px 7.87218px 31.4887px #edece9;
    border-radius: 7.87218px;
    width: 55px;
    height: 55px;
    text-align: center;

    margin-left: 16px;

    color: white;
    font-size: 62.9774px;
    line-height: 44px;
    cursor: pointer;
  }
}

.landing {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;
  // margin-top: 64px;
}

.left {
  margin-right: 32px;
}

.right {
  margin-left: 32px;
}

.DraftWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;
  word-break: break-word;
}

.EditButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.edit-post-button {
  min-width: 72px;
  // margin-right: 20px;

  background: #ffffff;
  border: 1px solid #edece9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;

  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.Edit {
  // width: 40px;

  background: #ffffff;
  border: 1px solid #edece9;
  color: #f71600;
  box-shadow: 0px 4px 16px #edece9;

  border-radius: 16px;
  border-width: 1px;
  min-width: 32px;
  height: 32px;
  text-emphasis: center;
  margin-right: 16px;
  line-height: 20px;
  font-weight: bold;
}

.DraftButtons {
  margin-top: 16px;
  margin-bottom: 16px;

  .CreateButton {
    background: #349ae9;
    border: 1px solid #349ae9;
    color: white;
    cursor: pointer;
  }

  button {
    margin-right: 20px;

    background: #ffffff;
    border: 1px solid #edece9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;

    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
  }
}

.Logout {
  margin-right: 20px;
  background: #ffffff;
  border: 1px solid #edece9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  top: -8px;
  cursor: pointer;
}

/* Posts */
.post-landing {
  width: 600px;
  height: auto;
  left: 315px;
  top: 306px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 16px #edece9;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.post-title-landing {
  width: 98%;
  height: auto;
  margin-left: 10px;
  padding: 5px;
  word-wrap: normal;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  align-items: center;

  color: #000000;
}

.post-date {
  width: 150px;
  height: 17px;
  left: 331px;
  top: 400px;
  margin-left: 10px;
  padding: 5px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #c4c4c4;
}

.post-tags-author {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 6px;

  padding: 5px;

  .post-tag {
    background: #f5f5f5;
    height: 28.12371063232422px;
    width: auto;
    min-width: 70px;
    left: 331px;
    top: 408px;
    border-radius: 3.195876121520996px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .post-tag:hover {
    background-color: #349ae9;
    color: white;
    transition: all ease-in-out 0.2s;
  }

  .post-tag-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;

    margin-right: 7px;
    margin-left: 7px;

  }

  .post-author-name-and-img {
    color: black;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .post-author-name-and-img:hover {
    color: $leaf-dark-blue;
  }
}

.published-post-author-img {
  img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    margin-right: 8px;
  }

  img:hover {
    cursor: pointer;
  }
}