
.left-header {
  display: flex;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  // justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 0px;

  a {
    margin-right: 16px;
  }
  
}

.landing {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-right: 80px;

  div {
    width: 608px;
    h1 {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 72px;

      margin-top: 0px;
      margin-bottom: 0px;
    }

    hr {
      border: 1px solid #e9ede9;
    }

    p {
      font-size: 36px;
      line-height: 43px;
    }

    .create-button {
      padding: 20px;
      font-size: 36px;
      line-height: 43px;
      color: #ffffff;

      background: #37abda;
      border: 1px solid #329bc5;
      box-shadow: 0px 4px 16px #edece9;
      border-radius: 8px;
      cursor: pointer;
    }

    .create-button-plus {
      background: #37abda;
      box-shadow: 0px 7.87218px 31.4887px #edece9;
      border-radius: 7.87218px;
      width: 55px;
      height: 55px;
      text-align: center;

      margin-left: 16px;

      color: white;
      font-size: 62.9774px;
      line-height: 44px;
      cursor: pointer;
    }
  }
}

.left {
  margin-right: 32px;
}

.right {
  margin-left: 32px;
}

.draft {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #37abda;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 12px;
  background: white;
  box-shadow: 0px 4px 16px #edece9;

  p {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.Post {
  
}

.HeaderPane {

}