.LoginMain {
  height: 100%;
}

// .Logo {
//   display: flex;
//   align-self: flex-start;
//   margin-top: 30px;
//   // margin-bottom: 30px;
//   margin-left: 3%;
//   img {
//     height: 60px;
//       // border-radius: 20px;
//   }

//   img:hover {
//       /* Start the shake animation and make the animation last for 0.5 seconds */
//       animation: shake 0.5s;
    
//       /* When the animation is finished, start again */
//       animation-iteration-count: infinite;
//     }
    
//     @keyframes shake {
//       0% { transform: translate(1px, 1px) rotate(0deg); }
//       10% { transform: translate(-1px, -2px) rotate(-1deg); }
//       20% { transform: translate(-3px, 0px) rotate(1deg); }
//       30% { transform: translate(3px, 2px) rotate(0deg); }
//       40% { transform: translate(1px, -1px) rotate(1deg); }
//       50% { transform: translate(-1px, 2px) rotate(-1deg); }
//       60% { transform: translate(-3px, 1px) rotate(0deg); }
//       70% { transform: translate(3px, 1px) rotate(-1deg); }
//       80% { transform: translate(-1px, -1px) rotate(1deg); }
//       90% { transform: translate(1px, 2px) rotate(0deg); }
//       100% { transform: translate(1px, -2px) rotate(-1deg); }
//     }
    
//   cursor: pointer;
// }

.ErrorMessage {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #f71600;
  width: 320px;
}

.ForgotPassword {
  color: #7b7b74;
  font-size: 14px;
  text-align: justify;
  font-weight: 100;
  cursor: pointer;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 8px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 67px;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .FormWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .Bar {
      width: 100%; 
      height: 1px; 
      visibility: visible; 
      border-bottom: 2px solid rgba(55, 53, 47, 0.09);
      margin-bottom: 15px;
    }

    .InputBox {
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;

      label {
        text-transform: uppercase;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #898984;
      }

      input {
        background: #f7f7f4;
        border: 1px solid #dfdfdc;
        border-radius: 4px;
        height: 40px;
        width: 400px;
        line-height: 28px;
        box-sizing: border-box;
      }

      input:focus {
        // outline-color: red;
        // outline-style: solid;
        // outline-width: 1px;
        // border-radius: 4px;

        outline: none;
        box-shadow: 0px 0px 2px #349ae9;
      }
    }
  }
}

.LoginButton {
  background: #349ae9;
  box-shadow: 0px 4px 8px rgba(159, 159, 159, 0.25);
  border-radius: 4px;
  width: 400px;
  height: 32px;
  border-style: none;
  color: white;
  font-size: 16px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.LoginButton:hover {
  box-shadow: 0px 4px 16px rgba(159, 159, 159, 0.6);
  transition: all 0.2s ease-in-out;
}

.LoginButton:focus {
  outline: none;
}
