.preview {
  background: #1f1c21;
  height: 240px;
  max-height: 240px;
  border-radius: 8px 8px 0px 0px;
  padding: 16px;

  .togglePreview {
    color: white;
    font-size: 12px;
  }

  .previewImage {
    display: flex;
    justify-content: center;
  }
}
