.preview {
  // background: #272822;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  width: 700px;
  height: 200px;
  max-height: 240px;
  border-radius: 8px 8px 8px 8px;
  padding: 16px;
  margin-top: 20px;

  .togglePreview {
    color: white;
    font-size: 12px;
  }

  .previewButtons {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 12px 12px;
    background-color: #37abda;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }

  button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 12px 12px;
    background-color: #37abda;
    color: white;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;

  }
}
