.preview {
  background: #272822;
  width: 700px;
  height: 200px;
  max-height: 240px;
  border-radius: 8px 8px 8px 8px;
  padding: 16px;
  margin-top: 20px;

  .togglePreview {
    color: white;
    font-size: 12px;
  }

  .previewButtons {
    display: flex;
    justify-content: center;
  }
}
