@import "commonui.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .editor-wrapper {
    height: 50vh !important;
    width: 100% !important;
    margin-left: 0 !important;
    top: 50vh !important;
    z-index: 5;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .editor-wrapper {
    // min-width: 520px;
    // max-width: 520px;
  }
}

.file-bar {
}

.editor-wrapper {
  // box-shadow: 0px 4px 16px #edece9;
  overflow: hidden;
  // width: 100%;
  // width: 51vw;
  // margin-right: 3vw;
  border-radius: 8px;

  height: 92vh;
  position: sticky;
  top: 4vh;
  display: flex;
  flex-direction: column;
  border: 1px solid $leaf-light-gray;
}
