/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.PublishingButtonsWrapper {
  display: flex;
  // justify-content: right;
  flex-direction: row-reverse;
}

.publishingButtons {
  display: flex;
  margin-top: 45px;

  button {
    padding: 8px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12px;
    border-radius: 4px;

    box-sizing: border-box;
    border-radius: 4px;
  }

  .preview {
    color: #000000;
    background: #ffffff;
    border: 1px solid #edece9;
  }

  .publish {
    background: #37abda;
    border: 1px solid #329bc5;
    color: white;
  }
}
.publishing {
  // min-width: 480px;
  // min-width: 300px;
  // width: 40vw;
  width: 440px;
  // margin-left: 3vw;
  margin-right: 48px;
  flex-grow: 0.8;
  .publishing-header {
    display: flex;
    margin-top: 16px;

    font-size: 20px;
    // border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d0d0d0;
    // padding-bottom: 8px;
    width: 100%;
    position: sticky;
    // position: fixed;

    h1 {
      margin-top: 0px;
      margin-bottom: 8px;
      width: 100%;

      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 48px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #898984;
    }

    form {
      width: 100%;
      height: auto;
    }

    textarea {
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      outline: 0;
      box-shadow: none;
      border: none;
      border-radius: 0;
      box-sizing: content-box;
      background-color: transparent;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      width: 100%;
      // line-height: 48px;
      // min-height: 50px;
      // height: auto; // padding: 1.5rem 0;
      resize: none;
    }

    .titleName {
      color: #27a4eb;
    }
  }
}
