@import "commonui.scss";

.renderedstep-wrapper {
  margin-top: 8px;
  margin-bottom: 8px;
}

.divider {
  @include line;
  margin-top: 8px;
}

.block-status {
  color: $gray-text;
  font-size: 12px;
}

.main-content {
  margin-bottom: 8px;
}
