.scrolling {
  // min-width: 400px;
  // flex-grow: 100;
  // width: 40%;
  width: 440px;
  // margin-left: 3%;
  // margin-right: 3%;
}

.step {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

  margin: 16px;
  padding: 16px;
}

.post-title {
  overflow-wrap: break-word;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .scrolling {
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .scrolling {
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scrolling {
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .scrolling {
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .scrolling {
  }
}
