@import "commonui.scss";

@mixin header-placeholder {
  position: relative;

  label {
    position: absolute;
    top: 0;
    color: $leaf-light-gray;
    pointer-events: none;
    font-weight: bold;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}

.headerOne {
  // -webkit-touch-callout: none; /* iOS Safari */
  // // -webkit-user-select: none; /* Safari */
  // -khtml-user-select: none; /* Konqueror HTML */
  // -moz-user-select: none; /* Old versions of Firefox */
  // -ms-user-select: none; /* Internet Explorer/Edge */
  // user-select: none; /* Non-prefixed version, currently
  //                               supported by Chrome, Edge, Opera and Firefox */

  label {
    font-size: 2em;
  }
}

.headerOne-draft {
  @extend .headerOne;
  @include header-placeholder;

  label {
    font-size: 2em;
  }
}

$headerOneFontSize: 2em;
$headerTwoFontSize: 1.5em;
$headerThreeFontSize: 1.17em;

.headerOne::before {
  content: "h1";
  position: absolute;
  font-size: $headerOneFontSize;
  font-weight: bold;
  color: $leaf-light-gray;
  left: -40px;
}

.headerTwo::before {
  content: "h2";
  position: absolute;
  font-size: $headerTwoFontSize;
  font-weight: bold;
  color: $leaf-light-gray;
  left: -40px;
}

.headerTwo {
  label {
    font-size: 1.5em;
  }
}

.headerTwo-draft {
  @extend .headerTwo;
  @include header-placeholder;
}

.headerThree {
  label {
    font-size: 1.17em;
  }
}

.headerThree-draft {
  @include header-placeholder;
  @extend .headerThree;
}

.headerThree-draft::before {
  content: "h3";
  position: absolute;
  font-size: $headerThreeFontSize;
  font-weight: bold;
  color: $leaf-light-gray;
  left: -40px;
}

.slate-wrapper {
  width: 100%;
  margin: auto;
  // color: rgba(41, 41, 41, 0.87);
  // font-weight: 100;
  font-family: sans-serif;
  line-height: 1.6em;
  // border: 1px solid black;
}

.prompt {
  position: relative;
  z-index: 1;
  padding-left: 30px;
  left: -30px;
  // border-style: solid;

  br {
    display: none !important;
  }

  .prompt-content {
    z-index: 1;
  }

  .placeholder-text {
    position: absolute;
    top: 0;
    color: $leaf-light-gray;
    pointer-events: none;
    z-index: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}

.unordered-list::before {
  content: ".";
  position: absolute;
  left: -12px;
  font-size: 40px;
  bottom: -2px;
}

.unordered-list {
  position: relative;
  margin-left: 12px;
  padding-left: 8px;

  @include header-placeholder;
  label {
    font-weight: normal;
  }
}

.handle {
  // position: absolute;
  // position: relative;
  // left: -4px;
  // top: -26px;
  // top: 0;
  border-radius: 4px;
  padding: 2px;
  transition: background-color 0.2s ease-in-out;
  // pointer-events: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 16px;
  }
}

.handle:hover {
  background-color: $leaf-light-gray;
  transition: background-color 0.2s ease-in-out;
}

.blockquote-element {
  border-left: 2px $leaf-dark-blue solid;
  padding-left: 4px;
  margin-top: 4px;

  @include header-placeholder;
  label {
    font-weight: normal;
  }
}

.numbered-element {
  // border-left: 2px $leaf-dark-blue solid;
  padding-left: 8px;
  margin-top: 4px;
  margin-left: 12px;
  position: relative;

  @include header-placeholder;
  label {
    font-weight: normal;
  }
}

.number-label {
  position: absolute;
  left: -12px;
  top: 0;
}

.image-element-uploaded {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    max-width: 100%;
    resize: both;
    overflow: auto;
  }
}

.img-handle {
  height: 80px;
  width: 8px;
  border-radius: 4px;
  background-color: gray;
  cursor: col-resize;
  position: absolute;
  top: 50%;
  left: -10px;
}

.code-leaf {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
  background-color: $leaf-light-gray;
}
