@import "commonui.scss";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .none-selected {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .none-selected {
    font-size: 12px;
    // float: right;
    // display: inline-block;
    padding: 4px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .none-selected {
    font-size: 12px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .none-selected {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .none-selected {
    font-size: 14px;
  }
}

.step-content {
  // background: #ffffff;
  // padding: 16px;
  // border: 1px solid #edece9;
  box-sizing: border-box;
  // box-shadow: 0px 4px 16px #edece9;
  border-radius: 8px;
  // padding: 24px 24px 0px 24px;
  // z-index: 3;
  // position: relative;
  z-index: 1;

  // overflow: auto;
}

.editing-draft {
}

.end-buttons {
  display: flex;
  flex-direction: row-reverse;
  // justify-content: space-between;
  margin-top: 16px;
  // padding-right: 8px;
  padding-bottom: 8px;
  // justify-content: center;
  align-items: center;
  // padding-bottom: 24px;

  .Highlight {
    background: #0dcf64;
    border: 1px solid #edece9;
    box-sizing: border-box;
    color: #0f5ea4;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 4px;
  }

  .Remove {
    background: #cf340d;
    border: 1px solid #edece9;
    box-sizing: border-box;
    color: #0f5ea4;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 4px;
  }
}

.LineInfo {
  height: 40px;
  border-top: 1px solid #ebebeb;
}

.line-indicator {
  z-index: 1;
  display: flex;
  // position: absolute;
  // bottom: 0;
  // left: 50%;
  margin-top: 16px;
  justify-content: center;
}

.editingstep-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
}

.step-border {
  padding-left: 8px;
  border-left: solid 2px $leaf-dark-blue;
}

.center-indicator {
  display: flex;
  // background: #ffffff;
  // box-shadow: 0px 4px 16px #edece9;
  // border-radius: 0px 0px 8px 8px;
  width: 100%;
}

.lines-prompt {
  // padding: 12px;
  // flex-grow: 100;
  // text-align: right;
  // margin-top: 8px;
  font-size: 14px;
}

.lines-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lines-selected {
  // background: #37abda;
  // color: #349ae9;
  color: black;
  // padding: 12px;
  border-radius: 0px 0px 8px 0px;
  display: flex;
  font-size: 14px;
  flex-direction: column;

  p {
    padding: 2px;
    margin: 0px 0px 0px 0px;
    background-color: $highlighter-yellow;
    border-radius: 2px;
  }
}

.none-selected {
  background: #ebebeb;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 0px;
  padding: 8px 16px 8px 16px;
  text-align: right;

  // position: absolute;
  // bottom: 0;
  // right: 0;
}

// .main-content {
//   padding: 16px;
// }

.loading {
  color: $gray-text;
  margin-right: 4px;
  font-size: 12px;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -20px;
  top: 32px;
  padding: 8px 8px 8px 8px;
  // transition: all 0.2s ease-in-out;
  border-radius: 4px;
  // border-style: solid;
  border-width: 1px;
  cursor: pointer;
  .dot {
    $dotSize: 4px;
    height: $dotSize;
    width: $dotSize;
    margin-top: 2px;
    background-color: #349ae9;
    border-radius: 12px;
    // transition: all 0.2s ease-in-out;
  }
}

// .options:hover {
//   // border-radius: 4px;
//   background-color: #349ae9;
//   // padding: 4px;
//   transition: all 0.2s ease-in-out;
//   .dot {
//     // transition: all 0.2s ease-in-out;
//     background-color: white;
//   }
// }

.options-bar {
  margin-top: 8px;
}

.block-options {
  // background-color: #ffffff;
  // box-shadow: 0px 4px 8px rgba(196, 196, 196, 0.46);
  border-radius: 4px;
  // padding: 36px 12px 12px 12px;
  // position: relative;
  // top: -20px;
  margin-top: 16px;
  // margin-bottom: 16px;

  .change-block {
    background: none;
    border-style: solid;
    border-color: #edece9;
    border-width: 1px;
    color: #37abda;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    // margin-right: 4px;
  }

  .change-block:focus {
    outline: none;
  }

  // .title {
  //   font-weight: normal;
  //   text-transform: uppercase;
  //   font-size: 12px;
  // }

  // .divider {
  //   @include line;
  //   width: 100%;
  //   margin: 2px 0px 8px 0px;
  // }

  .block-options-header {
    font-size: 12px;
    color: black;
  }
}

.save-button {
  // background: #ffffff;
  // border: 1px solid #edece9;
  // box-sizing: border-box;
  // border-radius: 4px;
  // padding: 4px;
  // font-size: 12px;
  @include draft-button;
}

.save-button:focus {
  @include draft-button-focused;
}

.divider {
  @include line;
  width: 100%;
  // margin-top: 16px;
  // margin-bottom: 16px;
}

.title-with-divider {
  @include title-with-divider;
}

.clear-lines {
  @include draft-button;
  margin-top: 8px;
}

.step-wrapper {
  height: 100%;
}

.codestep {
  background: #ffffff;
  border: 1px solid #edece9;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px #edece9;
  border-radius: 8px;
  margin-bottom: 40px;
  overflow: hidden;
  // padding: 16px;
  // position: relative;
}

.selected {
  border-color: blue;
  border-color: $leaf-dark-blue;
}

.codestep-content {
  min-height: 80px;

  padding-left: 24px;
  padding-right: 24px;
}

.side-buttons-wrapper {
  // border: 1px solid black;
  position: absolute;
  // left: -100px;
  // top: -8px;
  width: 100px;
  // padding-left: 20px;
  height: 70px;
  padding: 20px;
}

.side-buttons {
  position: relative;
  top: 12px;
  display: flex;
  flex-direction: column;
  // flex-direction: row-reverse;
}

.close {
  @extend .side-button;
  color: red !important;
  span {
    position: relative;
    // left: -1px;
    top: 1px !important;
    font-size: 13px !important;
  }
}

.up {
  @extend .side-button;
}

.down {
  @extend .side-button;
}

.side-button {
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #edece9;
  color: #07263a;
  width: 24px;
  height: 24px;
  line-height: 16px;
  text-align: center;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  cursor: pointer;

  span {
    position: relative;
    top: -1px;
  }
}
