@import "commonui.scss";

.text-section {
  width: 800px;
  // width: 100%;
  margin: auto;
  color: $standard-text;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .text-section {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.markdown {
  margin-bottom: 0.4em;
}

.addcode {
  @include draft-button;
  margin-bottom: 80px;
}

.description {
  margin-top: 8px;
  display: flex;

  p {
    pointer-events: none;
    color: $gray-text;
    margin: 0;
    margin-left: 4px;
  }
}

.delete {
  @include draft-button;
  margin-left: 8px;
}
